.board {
  width: 800px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

body, html {
  padding: 0;
  margin: 0;
}

.card__container {
  position: relative;
  height: 140px;
  perspective: 800px;
}

.card {
  position: absolute;
  top: 7%;
  right: 7%;
  bottom: 7%;
  left: 7%;
}

.card__obverse {
  background-color: #fff;
  border: 2px solid #000;
  position: absolute;
  top: 7%;
  right: 7%;
  bottom: 7%;
  left: 7%;
  /*backface-visibility: hidden;*/
}

.card__obverse__pattern {
  background-color: #A7DBD8;
  border: 2px solid #000;
  border-radius: 5px;
  position: absolute;
  top: 7%;
  right: 7%;
  bottom: 7%;
  left: 7%;
}

.card__reverse {
  background-color: #fff;
  top: 7%;
  right: 7%;
  bottom: 7%;
  left: 7%;
  position: absolute;
  border: 2px solid #000;
  text-align: center;
  line-height: 95px;
}

.card__reverse__symbol {
  font-size: 4em;
}

.card__reverse__symbol.monkey:before {
  content: "🐒";
}

.card__reverse__symbol.angel:before {
  content: "😇";
}

.card__reverse__symbol.elephant:before {
  content: "🐘";
}

.card__reverse__symbol.apple:before {
  content: "🍏";
}

.card__reverse__symbol.pear:before {
  content: "🍐";
}

.card__reverse__symbol.robot:before {
  content: "🤖";
}

.card__reverse__symbol.alien:before {
  content: "👽";
}

.card__reverse__symbol.shell:before {
  content: "🐚";
}

.card__reverse__symbol.ball:before {
  content: "⚽️";
}

.card__reverse__symbol.car:before {
  content: "🚗";
}

.card__reverse__symbol.anchor:before {
  content: "⚓️";
}

.card__reverse__symbol.telephone:before {
  content: "☎️";
}

.card__reverse__symbol.heart:before {
  content: "❤️";
}

.flip-enter {
  transform: rotateY( 270deg );
  transform-style: preserve-3d;
  transition: transform 250ms ease-out 250ms;
}

.flip-enter.flip-enter-active {
  transform: rotateY( 360deg );
}

.flip-leave {
  transform-style: preserve-3d;
  transition: transform 250ms ease-in;
  backface-visibility: hidden;
}

.flip-leave.flip-leave-active {
  transform: rotateY( 90deg );
}
